---
layout: default
title: Concerts
---

<!doctype html>
<html>
{% include head.html %}
<body>
	<nav>
		<ul>
			<li><a href="{{ '/' | absolute_url }}">Home</a></li>
			<li><a href="{{ '/concerts/' | absolute_url }}">Concerts</a></li>
			<li><a href="{{ '/portraits/' | absolute_url }}">Portraits</a></li>
			<li><a href="{{ '/weddings/' | absolute_url }}">Weddings</a></li>
		</ul>
	</nav>
	<ul class="grid" id="target">
		{% assign images = site.static_files | photo_filter %}
		{% assign filtered_images = images | starts_with: 'concerts' %}
        <!-- {% for image in filtered_images %}
            <li>
                <a href="{{ image.path }}">
                    <img src="{{ image.path }}" alt="{{ image.name }}">
                    <span>{{ segments | slice: 1, segments.size | join: '_' }}</span>
                </a>
            </li>
        {% endfor %} -->
		{% include photos.html %}
	</ul>
	{% include javascript.html %}
</body>
{% include foot.html %}
</html>
