---
---

<!doctype html>
<html>
{% include head.html %}
<body>
	<nav>
		<ul>
			<li><a href="{{ '/' | absolute_url }}">Home</a></li>
			<li><a href="{{ '/concerts/' | absolute_url }}">Concerts</a></li>
			<li><a href="{{ '/portraits/' | absolute_url }}">Portraits</a></li>
			<li><a href="{{ '/weddings/' | absolute_url }}">Weddings</a></li>
		</ul>
	</nav>
	{% assign target = "target" %}
	<ul class="grid" id="{{ target }}">
		{% assign images = page.images | default: site.static_files | photo_filter %}
        {% for image in images %}
            <li>
                <a href="{{ image.path }}">
                    <img src="{{ image.path }}" alt="{{ image.name }}">
                    <span>{{ image.name | split: '_' | last }}</span>
                </a>
            </li>
        {% endfor %}
		{% include photos.html %}
		{% include javascript.html %}
		{% if page.image_slug %}
			<script src="{{ '/js/photos.js' | relative_url }}" data-photo-id="{{ page.image_slug }}" data-photo-url="{{ page.image_slug | relative_url }}" data-target-id="{{ target }}"></script>
		{% endif %}
</body>
{% include foot.html %}
</html>
