</ul>
<ul class="links">
        <!-- <li class="bio"><p>{{ site.env.BIO }}</p?</li> -->
        {% if site.env.ALLOW_ORDER_SORT_CHANGE == "1" %}
        <li class="sort"><a rel="me" href="#" title="Reverse sort order">Sort</a></li>
        {% endif %}
        <li class="rss"><a rel="alternate" type="application/rss+xml" href="{{ site.env.URL }}feed.xml" title="RSS Feed">RSS Feed</a></li>
        {% if site.env.TWITTER_USERNAME != "" %}
        <li class="twitter"><a rel="me" href="https://twitter.com/{{ site.env.TWITTER_USERNAME }}" title="@{{ site.env.TWITTER_USERNAME }} on Twitter">Twitter</a></li>
        {% endif %}
        {% if site.env.INSTAGRAM_USERNAME != "" %}
        <li class="instagram"><a rel="me" href="https://instagram.com/{{ site.env.INSTAGRAM_USERNAME }}" title="@{{ site.env.INSTAGRAM_USERNAME }} on Instagram">Instagram</a></li>
        {% endif %}
        {% if site.env.EMAIL != "" %}
        <li class="email"><a rel="me" href="mailto:{{ site.env.EMAIL }}" title="Email">Email</a></li>
        {% endif %}
        {% if site.env.CUSTOM_LINK_URL != "" and site.env.CUSTOM_LINK_NAME != "" %}
        <li class="link"><a rel="me" href="{{ site.env.CUSTOM_LINK_URL }}" title="{{ site.env.CUSTOM_LINK_NAME }}">{{ site.env.CUSTOM_LINK_NAME }}</a></li>
        {% endif %}
</ul>
