<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="google" content="notranslate">
        <meta http-equiv="Content-Language" content="en">
        <html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
	<title data-title="{{ site.env.TITLE }}">{{ page.title | default: site.env.TITLE }}</title>
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.env.URL }}feed.xml">
	<meta property="og:title" content="{{ page.title | default: site.env.TITLE }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	<meta property="og:image" content="{{ site.env.URL }}{{ page.images[0].name | uri_escape | processed_path: 'large' | default: 'social-preview.png' }}">
	<meta property="og:site_name" content="{{ site.env.TITLE }}">
	<meta property="og:description" content="{{ site.env.DESCRIPTION }}">
	<meta name="thumbnail" content="{{ site.env.URL }}{{ page.images[0].name | uri_escape | processed_path: 'large' | default: 'social-preview.png' }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{ site.env.TWITTER_USERNAME }}">
	<meta name="twitter:title" content="{{ page.title | default: site.env.TITLE }}">
	<meta name="twitter:description" content="{{ site.env.DESCRIPTION }}">
	<meta name="twitter:image:src" content="{{ site.env.URL }}{{ page.images[0].name | uri_escape | processed_path: 'large' | default: 'social-preview.png' }}">
	<meta name="description" content="{{ site.env.DESCRIPTION }}">
	<script type="text/javascript" src="{{ '/js/lazy-loading.js' | relative_url }}"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/master.css' | relative_url }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
        <link rel="manifest" href="/favicons/site.webmanifest">
	<link rel="mask-icon" href="favicons/favicon.svg" />
</head>
